.sequence-header
    label
        font-weight bold
        margin-right 10px
    input
        display inline-block
        width 50%
        &.duration
            width 100px
            text-align right
    .btn-group
        width 100%
        .btn
            width 50%