.sequence-header
    label
        font-weight bold
        margin-right 10px
    input
        display inline-block
        width 50%
    .btn-group
        width 100%
        .btn
            width 50%