<html>
    <head>
        <title>Director</title>
        <link rel="stylesheet" href="/vendor.css">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <main class='container-fluid' v-cloak id="director">
            <div class='row'>
                <div class='col-3 col-xl-2'>
                    <h5>Devices<i class="fas fa-sync refresh" v-on:click="getPorts()"></i></h5>
                    <dl>
                        <dd v-for="port in ports" class='director-list'>
                                {{ port.comName }}
                                <span class='btn btn-primary' v-on:click="connect(port)" v-if="activePort == null">Connect</span>
                                <span class='btn btn-primary' v-on:click="disconnect()" v-if="activePort == port.comName">Disconnect</span>
                        </dd>
                    </dl>
                    <div v-if="activePort">
                        <h5>Actors<i class="fas fa-sync refresh" v-on:click="getOptions()"></i></h5>
                        <div v-for="actor in actors">
                            {{ actor.id }} | {{ actor.name }}
                        </div>
                    </div>
                    <div v-if="1 == 0 && activePort">
                            <h5>Buttons</h5>
                            <div v-for="button in buttons">
                                {{ button.id }} | {{ button.name }}
                            </div>
                        </div>
                    <div v-if="activePort">
                        <h5>Commands</h5>
                        <input v-model="command">
                        <span class='btn btn-primary' v-on:click="sendCommand(command)">Send</span>
                    </div>

                </div>
                <div class='col-9 col-xl-10'>
                    <director-machines
                        v-if="activeMachine == null"
                        :machines="machines"
                        v-on:select-machine="selectMachine($event)"
                        v-on:add-machine="addMachine()"
                        ></director-machines>
                    <div id="sequence-list" v-if="activeMachine && activeSequence == null">
                            <h5>Sequences</h5>
                            <div>
                                    <director-list-item 
                                    v-for="sequence in sequences"
                                    :key="sequence._id"
                                    :item="sequence"
                                    v-on:select-item="selectSequence(sequence)">
                            </div>
                            <span class='btn btn-primary btn-right' v-on:click="addSequence()">Add Sequence</span>
                    </div>
                    <div id="sequence-list" v-if="activeSequence">
                        <div class='row sequence-header'>
                            <div class='col-2'>
                                <span class='btn btn-danger' v-on:click="back()">
                                        <i class="fas fa-backspace"></i>
                                        Back
                                    </span>
                            </div>
                            <div class='col-8'>
                                <div>
                                    <label>Sequence:</label>
                                    <input class='sequence-name' v-model="activeSequence.name">
                                </div>
                                <div>
                                    <label>Audio:</label>
                                    <input v-model="activeSequence.audio">
                                    <i class="fas fa-sync refresh" v-on:click="setupAudio()"></i>
                                </div>
                                <div>
                                    <label>Duration:</label>
                                    <input v-model="activeSequence.duration" class='duration' type="number"> seconds
                                </div>
                            </div>
                            <div class='col-2'>
                                <span class='btn btn-success' v-on:click="saveSequence()">
                                    Save
                                    <i class="far fa-save"></i>
                                </span>
                            </div>
                            <div class='col-2'>
                                <div class='btn-group'>
                                    <span class='btn btn-primary'
                                        v-on:click="zoom(-10)">
                                            <i class="fas fa-search-minus"></i>
                                    </span>
                                    <span class='btn btn-primary'
                                        v-on:click="zoom(10)">
                                            <i class="fas fa-search-plus"></i>
                                    </span>
                                </div>
                                <div class='btn-group'>
                                        <span class='btn btn-warning'
                                            v-on:click="shift(0.25)">
                                                <i class="fas fa-arrow-left"></i>
                                        </span>
                                        <span class='btn btn-warning'
                                            v-on:click="shift(-0.25)">
                                                <i class="fas fa-arrow-right"></i>
                                        </span>
                                    </div>
                                <div class='btn-group'>
                                    <span class='btn btn-danger'
                                        v-on:click="playSequence(activeSequence)">
                                        <i class="fas fa-play-circle"></i>
                                    </span>
                                    <span class='btn btn-danger'
                                        v-on:click="pauseSequence(activeSequence)">
                                        <i class="far fa-pause-circle"></i>
                                    </span>
                                </div>
                            </div>
                            <div class='col-10'>
                                    <div id="waveform">
                                    </div>
                            </div>
                        </div>
                        <director-component
                            v-for="component in activeSequence.components"
                            :key="component._id"
                            :component="component">
                            </director-component>
                        <span class='btn btn-primary' v-on:click="addComponent()">Add Component</span>
                    </div>                    
                </div>
            </div>
        </main>
    </body>
    <script src="/vendor.js"></script>
    <script src="/main.js"></script>
</html>